.hero {
  &__button-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  &__image-container {
    margin-bottom: 3rem;
    position: relative;
    &:after {
      content: '';
      width: 600px;
      height: 201px;
      overflow: hidden;
      position: absolute;
      top: 68px;
      left: 64px;
      border-radius: 120px;
      background-color: $soft-blue;
    }
  }
  &__image {
    position: relative;
    z-index: 1;
  }
}
