.hero {
  &__button-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  &__image-container {
    margin-bottom: 3rem;
    position: relative;
  }
  &__image {
    position: relative;
    z-index: 1;
  }
}
