@import './l-grid/l-grid';
@import './l-flex/l-flex';
@import './hero/hero';
@import './tab-content/tab-content';
@import './faq/faq';

.header {
  grid-column: 2 / 6;
}

.main {
  grid-column: 1 / -1;
}

.fiiter {
  grid-column: 1 / -1;
}
