// Colors
$soft-blue: hsl(231, 69%, 60%);
$soft-red: hsl(0, 94%, 66%);
$grayish-blue: hsl(229, 8%, 60%);
$very-dark-blue: hsl(229, 31%, 21%);
$very-dark-blue-menu-alpha: hsl(229, 31%, 21%, 0.95);
$grayish-blue-menu-alpha: hsl(229, 8%, 60%, 0.27);

// Screen Sizes
$screen-tablet: 768px;
$screen-desktop: 769px;
